.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    position: absolute;
    bottom:0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/* Custom UI*/
.mainContainer {
  padding: 8vw;
}
.appTitle {
  text-transform: uppercase;
    font-weight: bolder;
}
.appSubTitle {

}
.search {
    margin: 5vw 0;
}
.searchDirector {
  border: none;
  padding: 10px;
  border-bottom: 1px black solid;
  display: inline-block;
}
.searchButton {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: darkgray;
  transition: 0.3s ease;
  padding: 10px;
  background: none;
  border: none;

}
.searchButton:hover {
  color: white;
  background: black;
}
.searchResult {
  background: black;
  position: relative;
  color: white;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 4px;
}
#director {
  font-size: 250%;
  display: block;
}
#score {
  font-size: 500%;
}
