<div ng-show="initialPage==1">
    loading..
</div>




<div class="mainContainer" ng-show="initialPage==0">
  <div>
    <h1 class="appTitle">Movie Director Score</h1>
  </div>
  <div>
    <div class="appSubTitle">Select a director, get the average movie score from Douban</div>
  </div>
  <div class="search row">
      <div ng-show="initialPage==0">
          <autocomplete
              ng-model="yourChoice"
              attr-placeholder="Type a director..."
              click-activation="true"
              data="afterFilterDirectorList"
              on-type="updateDirector"
              on-select="selectDirector">
          </autocomplete>

      </div>
  </div>
  <div class="searchResult" ng-show="selectedDirector==1">
      <span id="director">{{directorScoreDict.director}}</span>
      <span id="score">{{directorScoreDict.averageScore}}</span>
  </div>
</div>
